<extend name="Base:common" />

<block name="style">
	
	<style type="text/css">
.well{
	min-height: 20px;
padding: 19px;
margin-bottom: 20px;
background-color: #ecf0f1;
box-shadow: none;
border: 0px;
}
	</style>
</block>






<block name="body">
	<div class="container">


		<h4 class="well">系统消息</h4>
		 <div class="row">
  <div class="col-md-4">消息1</div>
  <div class="col-md-4">消息1</div>
  <div class="col-md-4">消息1</div>
</div>

<h4 class="well">学员消息</h4>


  <div class="row">
  <div class="col-md-4">消息1</div>
  <div class="col-md-4">消息1</div>
  <div class="col-md-4">消息1</div>
</div>

<h4 class="well">课程消息</h4>
 <div class="row">
  <div class="col-md-4">消息1</div>
  <div class="col-md-4">消息1</div>
  <div class="col-md-4">消息1</div>
</div>

</div>



</block>