<extend name="Base:common" />
<!--载入登录需要的样式-->
<block name="style"></block>
<block name="header">

	<div class="row wwf-row-ban">
		
		<div class="col-md-8 col-md-offset-2">
			
			
				<img src="__STATIC__/jisuanke/img/ban1.jpg">
			
		</div>


	</div>
  
</block>
<block name="body">


	
<div class="row">

  <div class="col-md-10 col-md-offset-1">

<h3>关于我们</h3>
 <p style="font: 14px/1.5 Microsoft Yahei,Helvetica Neue, Hiragino Sans GB,WenQuanYi Micro Hei,sans-serif;">
                
                合肥万工网络科技有限公司是中国领先的在线教育基础服务提供商，专注于在线教育，致力于为所有人提供便捷的在线教学与学习工具。自成立以来，分别推出了万工网络课堂、NIEH电子教室、NISP电子管理系统等。
创始团队拥有海内外的教育和工作背景。公司坚持以创新为企业发展动力，以共赢共生为合作理念，为加速中国在线教育发展，创造全新教育方式做出贡献。
              </p>

              <h3>企业文化</h3>
              
              <p style="font: 14px/1.5 Microsoft Yahei,Helvetica Neue, Hiragino Sans GB,WenQuanYi Micro Hei,sans-serif;">企业文化

万工教育是一家持续创新的，“以先进的方式提供在线教育与教育信息服务，让更多人因教育而受益”为使命的高技术公司。
万工教育的使命：先进的方式提供在线教育与教育信息服务，让更多人因教育而受益。
矩道优达的核心价值观：为人师表，规矩有道；学生为先，先优后达。</p>

<h3>价值观</h3>
<p>
	
	从己所长，专注喜好<br>
自驱学习，保持先进<br>
归纳分享，复用成果<br>
对事讨论，问题驱动<br>
为人简单，直白拍案<br>
鼓励挑战，不筑樊篱<br>
量力许诺，极致兑现<br>
</p>




  </div>
</div>
</block>