<extend name="Base:common" />
<!--载入登录需要的样式-->
<block name="style"></block>
<block name="header">

	<div class="row wwf-row-ban">
		
		<div class="col-md-8 col-md-offset-2">
			
			
				<img src="__STATIC__/jisuanke/img/ban1.jpg">
			
		</div>


	</div>
  
</block>
<block name="body">


	
<div class="row">

  <div class="col-md-10 col-md-offset-1">

<h3>联系我们</h3>
 
              
              <p style="font: 14px/1.5 Microsoft Yahei,Helvetica Neue, Hiragino Sans GB,WenQuanYi Micro Hei,sans-serif;">地址：合肥市庐阳区长江中路436号金城大厦9007<br>
电话：0551-62820779 <br>
邮箱：wangong@ahnieh.com<br>
传真：+86 010 84585288-8002</p>
<h3>我们的位置</h3>
	<img src="__STATIC__/jisuanke/img/dz.png" style="margin-bottom:30px; width:600px;">




  </div>
</div>
</block>