<extend name="Base:common"/>

<block name="side"></block>

<block name="body">

  <div class="row wwf-selectCourseBan">

    <div class="col-md-4 col-md-offset-2">

      <div class="wwf-selectCourseImg" >
        
        <img src="{$courseInfo.smallPicture}" style="width:198px">
      </div>


    </div>

     <div class="col-md-5 col-md-offset-1">

      <div class="wwf-selectCourseContent">
        <h3>{$courseInfo.title}</h3>
        <h5>{$courseInfo.subtitle}</h5>


        <div class="stats">
          <p>
            价　格：
            <span class="money-num" style="font-size:16px;">{$courseInfo.price}</span>
          </p>
        
          <p>
            学员数：
            <span class="member-num">{$courseInfo.studentNum}</span>
            <span class="member-text">人</span>
          </p>
          
        </div>

        <if condition="$isAdd">
           <button class="btn btn-success addCourseBtn" onclick="addToLearn({$courseInfo['id']})">取消收藏</button>

          <else/>
        <button class="btn btn-success addCourseBtn" onclick="addToLearn({$courseInfo['id']})">加入收藏</button>
        </if>
        

      </div>

      


    </div>
    
    

  </div>


  <div class="row wwf-selectCourseInfo">

    <div class="col-md-7 col-md-offset-1">

      <div id="course-about-pane" class="panel panel-default ">
          <div class="panel-heading">
            <h3 class="panel-title">课程介绍</h3>
          </div>
          <div class="panel-body">
          <p>
          
          {$courseInfo.about}
        </p>

          </div>
        </div>

        <div id="course-list-pane" class="panel panel-default ">
          <div class="panel-heading">
            <h3 class="panel-title">课时列表</h3>
          </div>
          <div class="panel-body">
            <div class="course-item-list-multi">


                       <ul class="list-group">

                        <volist name="lessonInfo" id="vo">

                          

  <li class="list-group-item"><a href="{:u('Index/learnLesson',array('id'=>
                  $vo['id'],'courseId'=>$vo['courseId']))}">课时{$key+1} :&nbsp;&nbsp;&nbsp;&nbsp;{$vo.title} </a></li>
                        </volist>
 
</ul>
              
            </div>
          </div>
        </div>
      
      
    </div>

    <div class="col-md-3">

      <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">课程目标</h3>
          </div>
          <div class="panel-body">
            {$courseInfo.goals}



          </div>
    </div>

    <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">适合人群</h3>
          </div>
          <div class="panel-body">
            {$courseInfo.audiences}



          </div>
    </div>
      
      <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">课程教师</h3>
          </div>
          <div class="panel-body">
            <a href="{:u('index/selectTeacher',array('id'=>$teacherInfo['id']))}">
              <div align="center">
                

                      <img src="{$teacherInfo.photo}" class="img-rounded" style="width:198px;">
              </div>
                     <h4 class="text-center"> {$teacherInfo.realname}</h4>
                    </a>



          </div>
    </div>


  </div>
</div>






 

</block>

<block name="script">

  <script type="text/javascript" charset="utf-8" src="__STATIC__/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="__STATIC__/ueditor/ueditor.all.js"></script>
    <script type="text/javascript" charset="utf-8" src="__STATIC__/ueditor/lang/zh-cn/zh-cn.js"></script>

 
  
  <script type="text/javascript">

  var url = "{:u('Home/index/addLearn')}";

  function addToLearn (id) {
    // body...
    //alert(111);
    $.post(url,{id:id},function(msg){
      alert(msg.info);
      window.location.reload();
    });
    
  }


  window.UEDITOR_HOME_URL = "";


      window.UEDITOR_CONFIG.initialFrameWidth = 632;
      window.UEDITOR_CONFIG.initialFrameHeight = 332;
      UE.getEditor('myEditor1', {
    toolbars: [
        
    ],
    autoHeightEnabled: true,
    autoFloatEnabled: true,
    elementPathEnabled:false,
    readonly:true,
    wordCount:false 
});


  



  </script>
</block>