<extend name="Base:common" />
<!--载入登录需要的样式-->
<block name="style"></block>
<block name="header">

	<div class="row wwf-row-ban">

		<div class="col-md-8 col-md-offset-2">

			<img src="__STATIC__/jisuanke/img/ban1.jpg"></div>

	</div>

</block>
<block name="body">

	<!-- <div class="row">

		<div class="col-md-10 col-md-offset-1">

			<h1 class="text-center">加入我们</h1>

		</div>
	</div> -->



	<div class="row">

		<div class="col-md-10 col-md-offset-1">

			<h3 >岗位需求</h1>
			<p>
		- 高级JAVA工程师<br>
		- 高级android工程师<br>
		- 校园课程主管<br>
		- 高级平面设计师<br>
		
		</p>

			<h3>福利待遇</h1>
			<p>
		- 弹性工作时间，一起共享免费午餐<br>
		- 只要合理，工作设备不设需求上限<br>
		- 不低于业界巨头的薪资水平<br>
		- 内部课堂，邀请业界大牛定期分享<br>
		- 正式劳动合同、五险一金<br>
		</p>

		<h3>联系方式</h1>
			<p>
		- 邮箱：请联系HR admin@ahnieh.com<br>
		
		
		</p>


		</div>
	</div>
</block>