<!DOCTYPE HTML>
<html>
<head>
	<include file="Public/head"/>
	<style type="text/css">
	.while-div{
		background-color: #efefef;
	}
	/*返回课程主页*/
	.back-course{
font-size: 12px;
background-color: #efefef;
	}
	/*上一课时 下一课时*/
	.prevLesson ,.nextLesson{
		
margin-left: 112px;
display: block;
background-color: #efefef;
	}
	
	.lessonTitle{
		margin-left: 22px;
		color: #cccccc;
	}
	/*视频的div*/
	#videoArea{
		margin-left: 22px;
		width: 100%;
		min-height: 500px;
	}
	/*左侧区域*/
	.left-area{
		background-image: url("__IMG__/courseLearn_bg.jpg");
	}
	/*右侧区域*/
	.right-area{
		
		height: 100%
	}
	/*右侧的头部课程信息*/
	.courseHead{
		color: #666;
		background-image: url("{$courseData['large_picture']}");
		background-repeat:no-repeat;
background-position:right;
		
	}
	</style>
</head>
<body>
	<!-- 整体 -->
	<div class="container-fluid while-div">
		<div class="row">
			<!-- 左侧视频区域 -->
			<div class="col-md-9 left-area">
				<!-- 上 -->
				<button type="button" class="btn btn-default btn-sm nextLesson">
					<span class="glyphicon glyphicon-chevron-up"></span>
				</button>
				<a class="btn btn-default btn-sm  back-course" href="{:u('Home/Course/detail',array('id'=>
					$courseData['id']))}">
					<span class="glyphicon glyphicon-arrow-left"></span>
					返回课程主页
				</a>
				<h5 class="lessonTitle">当前播放：{$lessonData.title}</h5>
				<!-- 中 -->
				<div id="videoArea">
					
				</div>
				<!-- 下 -->
				<button type="button" class="btn btn-default btn-sm prevLesson">
					<span class="glyphicon glyphicon glyphicon-chevron-down"></span>
				</button>
			</div>
			<!-- 右侧菜单区域 -->
			<div class="col-md-3 right-area">
				<!-- 课程信息区域 -->
				<div class="courseHead">
					<h3>{$courseData.title}</h3>
					<p>学员:&nbsp;{$courseData['student_num']}</p>
					<p>发布者:&nbsp;{$courseData['author']['nickname']}</p>
				</div>
				<!-- 导航区 -->
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active">
						<a href="#home" role="tab" data-toggle="tab">目录</a>
					</li>
					<li role="presentation">
						<a href="#profile" role="tab" data-toggle="tab">笔记</a>
					</li>
					<li role="presentation">
						<a href="#messages" role="tab" data-toggle="tab">讨论</a>
					</li>
				</ul>
				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="home">
						<ul class="list-group" style="margin-top:10px;">
							<volist name="courseData['lesson']" id="vo">
								<li class="list-group-item">
									<a href="{:u('Home/Course/detailLesson',array('id'=>
										$vo['id']))}">课时{$key+1} :&nbsp;&nbsp;&nbsp;&nbsp;{$vo.title}
									</a>
								</li>
							</volist>
						</ul>
					</div>
					<div role="tabpanel" class="tab-pane" id="profile">笔记</div>
					<div role="tabpanel" class="tab-pane" id="messages">讨论</div>
				</div>
				<!-- 目录内容区域 -->
			</div>
		</div>
	</div>
	<!-- 整体 -->


	<script type="text/javascript" src="__STATIC__/cc/js/swfobject.js"></script>

  <script type="text/javascript">

var videoid = "{$lessonData['video']['hash_id']}";
var userid = "{$spark_config['user_id']}";

  //  功能：创建播放器flash，需传递所需参数，具体参数请参考api文档
  var swfobj=new SWFObject('http://union.bokecc.com/flash/player.swf', 'playerswf', '970', '500', '8');
  swfobj.addVariable( "userid" , userid);  //  partnerID,用户id
  swfobj.addVariable( "videoid" , videoid);  //  spark_videoid,视频所拥有的 api id
  swfobj.addVariable( "mode" , "api");  //  mode, 注意：必须填写，否则无法播放
  swfobj.addVariable( "autostart" , "false"); //  开始自动播放，true/false
  //swfobj.addVariable( "jscontrol" , "true");  //  开启js控制播放器，true/false
  
  swfobj.addParam('allowFullscreen','true');
  swfobj.addParam('allowScriptAccess','always');
  swfobj.addParam('wmode','transparent');
  swfobj.write('videoArea');

//  -------------------
//  调用者：flash
//  功能：播放器加载完毕时所调用函数
//  时间：2010-12-22
//  说明：用户可以加入相应逻辑
//  -------------------
  function on_spark_player_ready() {
    //alert("播放器加载完毕");
  }
  
//  -------------------
//  调用者：flash
//  功能：播放器开始播放时所调用函数
//  时间：2010-12-22
//  说明：用户可以加入相应逻辑
//  -------------------
  function on_spark_player_start() {
    //alert('开始播放');
  }
  
//  -------------------
//  调用者：flash
//  功能：播放器暂停时所调用函数
//  时间：2010-12-22
//  说明：用户可以加入相应逻辑
//  -------------------
  function on_spark_player_pause() {
    //alert('暂停播放');
  }
  
//  -------------------
//  调用者：flash
//  功能：播放器暂停后，继续播放时所调用函数
//  时间：2010-12-22
//  说明：用户可以加入相应逻辑
//  -------------------
  function on_spark_player_resume() {
    //alert('暂停后继续播放');
  }
  
//  -------------------
//  调用者：flash
//  功能：播放器播放停止时所调用函数
//  时间：2010-12-22
//  说明：用户可以加入相应逻辑
//  -------------------
  function on_spark_player_stop() {
    //alert('播放停止');
  }

  function player_play() { // 调用播放器开始播放函数
    document.getElementById("playerswf").spark_player_start();
  }
  function player_pause() { //  调用播放器暂停函数
    document.getElementById("playerswf").spark_player_pause();
  }
  function player_resume() { // 调用播放器恢复播放函数
    document.getElementById("playerswf").spark_player_resume();
  }
</script>



<script type="text/javascript">
	

	
</script>
</body>



</html>