<extend name="Base:common" />

<block name="style">

  <link rel="stylesheet" type="text/css" href="__CSS__/student.css"></block>

<block name="header">

  <div class="row my-ban">
    <div class="col-md-8 col-md-offset-1">
      <!-- <img src="#">
      -->
      <div >

        <span class="content1-picture pull-left"> 
<img class="image" src="{:get_userphoto()}" /> 
</span> 
        <h1>
          {:get_nickname()}
          <small>{:get_time_in_day()}</small>
        </h1>
      </div>

      <p>人类被赋予了一种工作，那就是精神的成长。</p>

    </div>

  </div>

</block>
<block name="body">

	<div class="container-fluid">
		<div class="row">

			<!--主体部分 左右分栏-->
			<div class="col-md-3 col-md-offset-1">
				<div class="panel panel-default">
     

        <div class="panel-heading">
          <h3 class="panel-title">设置</h3>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">
              <a href="{:u('Setting/setInfo')}">资料设置</a>
            </li>
            <li class="list-group-item">
              <a href="{:u('Setting/setPhoto')}">修改头像</a>
            </li>
             <li class="list-group-item">
              <a href="{:u('User/updateNickName')}">修改昵称</a>
            </li>
            <li class="list-group-item">
              <a href="{:u('User/updatePassword')}">修改密码</a>
            </li>

          </ul>
        </div>
      </div>

			</div>
			<!-- 右侧 -->
			<div class="col-md-7">
				<div class="panel panel-default">
					<div class="panel-heading">
						<span>设置头像</span>
					</div>
					<div class="panel-body">

						<!--编辑头像-->

         <script type="text/javascript">
   function uploadevent(status){
  
        status += '';

     switch(status){
     case '1':

     window.location.href = "{:u('Student/Setting/setPhoto',array('id'=>$memberData['uid']))}";
 
    
  break;
 

     
     case '-1':
   // window.location.reload();
     break;
     default:
    // window.location.reload();
    } 
   }
  </script>

         <div id="altContent">

<input  id="username" type="hidden" value="20130101232565" />

<OBJECT classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"
WIDTH="650" HEIGHT="450" id="myMovieName">
<PARAM NAME=movie VALUE="__STATIC__/flash/avatar.swf">
<PARAM NAME=quality VALUE=high>
<PARAM NAME=bgcolor VALUE=#FFFFFF>

<empty name="memberData['photo']">
  


<param name="flashvars" value="imgUrl=__STATIC__/flash/default.jpg&uploadUrl=__URL__/flashUpFile&uploadSrc=true&showCame=true&pCut=163|162&pSize=163|162|48|48|20|20&pData=163|162|48|48|20|20&showBe=true&showCa=true&id={$memberData['id']}" />
<EMBED src="__STATIC__/flash/avatar.swf" quality=high bgcolor=#FFFFFF WIDTH="650" HEIGHT="450" wmode="transparent" flashVars="imgUrl=__STATIC__/flash/default.jpg&uploadUrl=__URL__/flashUpFile&uploadSrc=true&showCame=true&pCut=163|162&pSize=163|162|48|48|20|20&pData=163|162|48|48|20|20&showBe=true&showCa=true&id={$memberData['id']}"
NAME="myMovieName" ALIGN="" TYPE="application/x-shockwave-flash" allowScriptAccess="always"
PLUGINSPAGE="http://www.macromedia.com/go/getflashplayer">
</EMBED>

<else/>

<param name="flashvars" value="imgUrl={$memberData['photo']}&uploadUrl=__URL__/flashUpFile&uploadSrc=true&showCame=true&pCut=163|162&pSize=163|162|48|48|20|20&pData=163|162|48|48|20|20&showBe=true&showCa=true&id={$memberData['id']}" />
<EMBED src="__STATIC__/flash/avatar.swf" quality=high bgcolor=#FFFFFF WIDTH="650" HEIGHT="450" wmode="transparent" flashVars="imgUrl={$memberData['photo']}&uploadUrl=__URL__/flashUpFile&uploadSrc=true&showCame=true&pCut=163|162&pSize=163|162|48|48|20|20&pData=163|162|48|48|20|20&showBe=true&showCa=true&id={$memberData['id']}"
NAME="myMovieName" ALIGN="" TYPE="application/x-shockwave-flash" allowScriptAccess="always"
PLUGINSPAGE="http://www.macromedia.com/go/getflashplayer">
</EMBED>


</empty>

</OBJECT>
 

  </div>

  <div id="avatar_priview"></div>
         <!--编辑头像-->
						
				</div>
			</div>
		</div>
			<!-- 右侧结束 -->
		</div>
	</div>

	
</block>

<block name="script">
	<script type="text/javascript">
	


	</script>
</block>

